$key-color: #8c88ff;

$header-height: 3rem;
$header-bg-color: rgba(70, 70, 70, 0.3);
$header-gap: 2rem;

$dock-width: 40px;
$dock-pad: 6px;
$dock-margin-left: 10px;

$window-header-height: 50px;

:export {
  headerHeight: $header-height;

  dockWidth: $dock-width;
  dockPad: $dock-pad;
  dockMarginLeft: $dock-margin-left;

  windowHeaderHeight: $window-header-height;
}
