$key-color: #262626;

$desktop-header-height: 3rem;
$mobile-header-height: 5rem;

$dock-width: 4rem;
$dock-pad: 6px;
$dock-margin-left: 1rem;

$app-head-height: 5rem;

$post-max-width: 78rem;

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;

:export {
  headerHeight: $desktop-header-height;

  dockWidth: $dock-width;
  dockPad: $dock-pad;
  dockMarginLeft: $dock-margin-left;

  appHeadHeight: $app-head-height;
}
