$padding: calc((25vw * 0.3) / 2);
$appWidth: calc((100vw - #{$padding} * 2) / 4);

.app-list {
  display: grid;
  grid-template-columns: repeat(4, $appWidth);
  grid-auto-rows: $appWidth;
  padding: $padding;
  box-sizing: border-box;
  row-gap: 1.5rem;

  &__item {
    margin: auto;
    width: 70%;
    height: 70%;
    max-width: 8rem;
    max-height: 8rem;
  }
}
