.m-header {
  position: relative;
  height: 3rem;

  display: flex;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.5rem;
  color: white;
  margin-top: 0.5rem;
  z-index: 10000;

  &__logo {
    margin-left: auto;
    height: 45%;
  }
}
