.html-parsed-content {
  position: relative;
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 1rem;

  h2 {
    margin-top: 0.5rem;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.8em;
  }

  h3 {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1.6em;
    padding-left: 2rem;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 5px;
      height: 80%;
      background-color: gray;
    }
  }

  a {
    color: #7299ff;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &.file {
      display: flex;
      align-items: flex-end;
      margin: 3rem auto;
      width: fit-content;
      color: #ccc;
      padding: 1rem 2rem;
      border: 1px solid #ccc;
      border-radius: 0.8rem;
      line-height: 1;

      &::before {
        content: "";
        background-image: url("~/assets/images/ico/download.png");
        width: 15px;
        height: 15px;
        background-size: contain;
        background-position: center;
        margin-right: 1rem;
      }

      &:hover {
        text-decoration: none;
        background-color: #5e5e5e;
        color: white;
        border-color: transparent;
      }
    }
  }

  .to-do {
    line-height: 2;
    padding-left: 2.5rem;

    &::before {
      content: "";
      display: inline-block;
      background: url("~/assets/images/ico/check_default.svg") no-repeat;
      width: 2rem;
      height: 2rem;
      background-size: contain;
      margin: auto 0.5rem;
      vertical-align: middle;
    }
    &.checked {
      color: gray;

      &::before {
        background-image: url("~/assets/images/ico/check_active.svg");
      }
    }
    & > .to-do {
      color: white;
      &.checked {
        color: gray;
      }
    }
  }

  > ul,
  > ol {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  ul,
  ol {
    padding-left: 3rem;
    list-style-type: revert;
    li {
      line-height: 2;
    }
  }

  blockquote {
    border-left: 4px solid #eee;
    padding-left: 2rem;
    margin: 3rem 4rem 3rem 2rem;
  }

  img {
    display: flex;
    max-width: 80%;
    border-radius: 8px;
    margin: 2rem auto;
  }

  hr {
    border: 0;
    border-top: 4px dashed gray;
  }

  > p {
    margin: 1rem 0;
  }

  .callout {
    position: relative;
    padding: 1rem;
    background-color: #333;
    border-radius: 4px;
    &__emoji {
      position: absolute;
      top: 1.3rem;
      left: 1rem;
    }

    &__content {
      margin-left: 3rem;
    }
  }

  em {
    font-style: italic;
  }

  strong {
    color: #ff7878;
  }

  .code {
    padding: 0.3em 0.4em;
    background-color: #444;
    border-radius: 4px;
  }

  .code-block {
    position: relative;
    background-color: #1e1e1e;
    border-radius: 4px;
    overflow: hidden;
    margin: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;

    &__language {
      display: inline-block;
      padding: 0.3em 0.6em;
      background-color: #676767;
      font-size: 1.2rem;

      &.javascript {
        background-color: #eded75;
        color: #333;
      }
      &.html {
        background-color: #d45e5e;
        color: #333;
      }
      &.css {
        background-color: #758aed;
      }
    }

    .caption {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      font-size: 1.2rem;
      color: #acacac;
      margin-left: auto;
      margin-right: 1rem;
    }

    &__content {
      flex: 0 0 100%;
      box-sizing: border-box;
    }
  }

  audio {
    display: flex;
    margin: 2rem auto;
  }

  .video-container {
    display: flex;
    justify-content: center;

    iframe {
      width: 80%;
      aspect-ratio: 16/9;
      border-radius: 8px;
    }
  }

  &.mobile {
    padding: 0;
  }
}
