.m-post {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  background-color: #111;

  $timing: 0.4s;

  &__head {
    position: relative;
    height: 18rem;
  }

  &__body {
    height: 100%;
    box-sizing: border-box;
    position: relative;

    > * {
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      transition: all $timing;
    }

    &.category {
      & > :nth-child(1) {
        left: 0;
      }
    }

    &.list {
      & > :nth-child(1),
      & > :nth-child(2) {
        left: 0;
      }
    }

    &.content {
      & > :nth-child(1),
      & > :nth-child(2),
      & > :nth-child(3) {
        left: 0;
      }
    }
  }
}
