.m-post-content {
  $content-margin: 5.5rem;
  background-color: #111;
  margin-top: calc(-#{$content-margin});
  padding: 0 2rem 12rem 2rem;
  box-sizing: border-box;
  height: calc(100% + #{$content-margin});
  overflow-y: auto;

  .title {
    font-size: 2.6rem;
    line-height: 1.4;
  }

  .tag {
    margin-top: 1rem;
  }

  .created {
    margin: 1rem 0;
    font-size: 1.3rem;
    color: #777;
    text-align: center;
  }

  .cover {
    width: 100%;
    border-radius: 10px;
  }

  .content {
    margin-top: 2rem;
    font-size: 1.4rem;
    line-height: 1.8;
    color: #b8b8b8;
    h2 {
      margin-top: 0.5rem;
      padding-top: 2rem;
      margin-bottom: 1.5rem;
      font-size: 1.7em;
      color: white;
    }

    h3 {
      color: white;
      position: relative;
      margin-top: 3rem;
      margin-bottom: 1.5rem;
      font-size: 1.3em;
      padding-left: 2rem;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
        height: 80%;
        background-color: gray;
      }
    }

    a {
      color: #7299ff;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .to-do {
      ::before {
        content: "";
      }
    }

    > ul,
    > ol {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    ul,
    ol {
      padding-left: 3rem;
      list-style-type: revert;
      li {
        line-height: 2;
      }
    }

    blockquote {
      border-left: 4px solid #eee;
      padding-left: 2rem;
      margin: 3rem 4rem 3rem 2rem;
    }

    img {
      display: flex;
      width: 100%;
      border-radius: 8px;
      margin: 2rem auto;
    }

    hr {
      border: 0;
      border-top: 4px dashed gray;
    }

    > p {
      margin: 1.5rem 0;
    }

    .callout {
      position: relative;
      padding: 1rem;
      background-color: #333;
      border-radius: 4px;
      &__emoji {
        position: absolute;
        top: 1.3rem;
        left: 1rem;
      }

      &__content {
        margin-left: 3rem;
      }
    }

    em {
      font-style: italic;
    }

    strong {
      color: #ff7878;
    }

    .code {
      padding: 0.2em 0.4em;
      background-color: #6c76bd;
      border-radius: 4px;
      color: white;
      margin-right: 0.1rem;
    }

    .code-block {
      position: relative;
      background-color: #333;
      border-radius: 4px;
      overflow: hidden;
      margin: 1.5rem 0;
      display: flex;
      flex-wrap: wrap;

      &__language {
        display: inline-block;
        padding: 0.3em 0.6em;
        background-color: lightblue;
        border-radius: 0 0 4px 0;
        color: black;
        font-size: 1.2rem;

        &.javascript {
          background-color: #eded75;
          color: #333;
        }
        &.html {
          background-color: #d45e5e;
          color: #333;
        }
        &.css {
          background-color: #758aed;
        }
      }

      .caption {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 1rem;
        font-size: 1rem;
        color: #acacac;
      }

      &__content {
        flex: 0 0 100%;
        background-color: #333;
      }
    }

    audio {
      display: flex;
      margin: 2rem auto;
    }

    .video-container {
      display: flex;
      justify-content: center;

      iframe {
        width: 80%;
        aspect-ratio: 16/9;
        border-radius: 8px;
      }
    }
  }
}
