.m-post-content {
  $content-margin: 5.5rem;
  background-color: #111;
  margin-top: calc(-#{$content-margin});
  padding: 0 2rem 2rem 2rem;
  box-sizing: border-box;
  height: calc(100% + #{$content-margin});
  overflow-y: auto;

  .title {
    font-size: 2.8rem;
    line-height: 1.4;
  }

  .info {
    display: flex;
    align-items: center;
    height: 3rem;
    .share-btn {
      height: 100%;
      margin-left: auto;
    }
  }

  .created {
    margin: 1rem 0;
    font-size: 1.3rem;
    color: #777;
    text-align: center;
  }

  .cover {
    width: 100%;
    border-radius: 10px;
  }
}
