.guestbook {
  $border-color: #555;
  $bg-color: #2a2a2a;
  $body-bg-color: #1a1a1a;
  background-color: $bg-color;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  @include scrollTheme;

  &__head {
    display: flex;
    padding: 5rem 1rem 1.5rem 1rem;
    border-bottom: 1px solid $border-color;
    background-color: $body-bg-color;
    .profile-img {
      width: 5rem;
      height: 5rem;
      border-radius: 30%;
      object-fit: contain;
      background-color: #4f4f4f;
    }

    .info {
      display: flex;
      flex-direction: column;
      padding: 0.5rem 1rem;
      font-size: 1.3rem;
      &__name {
        color: white;
      }
      &__count {
        color: #888;
        margin-top: auto;
        display: flex;
        align-items: center;

        .ico {
          filter: invert(1);
          width: 1.5rem;
          margin-right: 0.5rem;
        }

        .div {
          margin: 0 0.7rem;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin-left: auto;
      &__opacity {
        -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
        width: 5rem; /* 슬라이더 길이 */
        height: 2.5px; /* 슬라이더 두께 */
        border-radius: 5px; /* 슬라이더 모서리를 약간 둥글게 */
        background: #7d7d7d;
        outline: none; /* 슬라이더 테두리 없이 */

        &::-webkit-slider-thumb {
          appearance: none;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: $bg-color;
          border: 2px solid #444;
          cursor: pointer;
        }

        &::-moz-range-thumb {
          appearance: none;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: $bg-color;
          border: 2px solid #444;
          cursor: pointer;
        }
      }

      &__sns {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        .sns-item {
          width: 3rem;
          height: 3rem;
          border: 1px solid #555;
          border-radius: 50%;
          margin-left: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          &.github {
            filter: invert(1);
          }

          img {
            width: 50%;
          }

          &:hover {
            cursor: pointer;
            img {
              width: 100%;
              transition: all 0.5s;
            }
          }
        }
      }
    }
  }

  &__body {
    position: relative;
    flex: 1;
    background-color: $body-bg-color;
    @include scrollTheme;
    overflow: auto;

    .notice {
      position: sticky;
      top: 0;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: $bg-color;
      color: white;
      font-size: 1.3rem;
      height: 3rem;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 0.2rem 1.2rem;
      border-bottom: 1px solid $border-color;

      &__img {
        filter: invert(1);
        height: 70%;
        margin-right: 1rem;
      }
    }
    .chats {
      flex: 1;
      padding: 2rem 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      &__item {
        color: white;
        display: flex;
        align-items: flex-start;
        margin-top: 2rem;
        &:first-of-type {
          margin-top: 0;
        }

        .profile {
          width: 5rem;
          height: 5rem;
          border-radius: 30%;
          object-fit: contain;
          background-color: #666;
        }

        .text {
          margin-left: 1rem;
          font-size: 1.2rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          white-space: pre-wrap;
          margin-right: 1.5rem;

          .name {
            color: #aaa;
          }

          .content {
            display: flex;
            align-items: flex-end;
            flex-direction: row;
            .msg {
              margin-top: 1rem;
              margin-left: 1rem;
              margin-right: 1rem;
              background-color: #353535;
              padding: 0.8rem 1rem;
              border-radius: 4px;
              flex: 1;
              word-break: break-word;
              line-height: 1.4;
            }

            .date {
              font-size: 1rem;
              color: #888;
              line-height: 1.2;
            }
          }
        }

        &.me {
          flex-direction: row-reverse;
          .text {
            align-items: flex-end;
            .content {
              flex-direction: row-reverse;

              .msg {
                margin-right: 1rem;
                background-color: #ffe306;
                color: black;
              }
            }
          }
        }
      }
    }
  }

  &__footer {
    font-size: 1.4rem;
    color: #eee;

    .info {
      background-color: $bg-color;
      height: 4rem;
      border-top: 1px solid $border-color;
      display: flex;
      align-items: center;
      padding: 0 2rem;
      color: #ccc;
      margin-left: auto;

      &__name {
        margin-left: 1rem;
        height: 60%;
        background-color: $body-bg-color;
        border: 1px solid #666;
        padding: 0 1rem;
        color: white;
      }

      &__count {
        display: flex;
        margin-left: auto;

        .curr {
          color: #eaffa6;
        }

        .div {
          margin: 0 1rem;
        }
      }
    }
    .message {
      display: flex;
      box-sizing: border-box;
      padding: 1.3rem;
      height: 12rem;
      background-color: #222;
      border-top: 1px solid $border-color;

      &__text {
        width: 100%;
        height: 100%;
        resize: none;
        background-color: transparent;
        margin-right: 1rem;
        position: relative;
        @include scrollTheme;
      }

      &__send {
        width: 12rem;
        border-radius: 0.8rem;
        border: 1px solid #444;
        color: #777;

        &.active {
          background-color: yellow;
          cursor: pointer;
          color: #333;
        }
      }
    }
  }
}
